@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  background: #424242;
  border: 0;
  box-sizing: content-box;
  color: #fff;
  display: flex;
  flex: auto;
  font-family: Roboto, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

html,body, main {
  box-sizing: content-box;
  display: flex;
  flex: auto;
}

main {
  align-items: center;
  flex-direction: column;
  font-size: 10vw;
  justify-content: center;
}

.mdc-button {
  color: #fff !important;
}

.button-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: initial;
  justify-content: center;
  transition: all 375ms cubic-bezier(0, 0, 0.2, 1);
}

.button-row.hidden {
  opacity: 0;
  transform: translateY(10%);
}

.typed {
  display: flex;
  transform: translateY(0);
  transition: all 375ms cubic-bezier(0, 0, 0.2, 1);
}

.typed.before-buttons {
  transform: translateY(30%);
}

.cursor {
  animation: cursor-blink 600ms ease-in-out infinite;
}

@media (min-width: 700px) {
  .button-row {
    flex-direction: row;
  }
  .typed {
    margin-bottom: 50px;
  }
}
@media (min-width: 1100px) {
  main {
    font-size: 6vw;
  }
}

@keyframes cursor-blink {
  0% {opacity: 0}
  50% {opacity: 1}
  100% {opacity: 0}
}
